$fa-font-path: "./font-awesome/webfonts";

@import "./font-awesome/scss/fontawesome.scss";
@import "./font-awesome/scss/solid.scss";

@import "./variables.scss";
@import "./bulma/sass/utilities/initial-variables.sass";
@import "./bulma/sass/utilities/functions.sass";
@import "./derived-variables.scss";
@import "./bulma/sass/utilities/derived-variables.sass";
@import "./bulma/sass/utilities/animations.sass";
@import "./bulma/sass/utilities/mixins.sass";
@import "./bulma/sass/utilities/controls.sass";

@import "./bulma/sass/base/_all.sass";
@import "./bulma/sass/grid/_all.sass";
@import "./bulma/sass/elements/button.sass";
@import "./bulma/sass/elements/form.sass";
@import "./bulma/sass/elements/tag.sass";
@import "./bulma/sass/elements/table.sass";
@import "./bulma/sass/elements/other.sass";
@import "./bulma/sass/components/tabs.sass";
@import "./bulma/sass/components/modal.sass";
@import "./bulma/sass/components/dropdown.sass";
@import "./bulma/sass/components/card.sass";

@import "~bulma-slider/dist/css/bulma-slider.sass";

@import "./utils.scss";

html {
  background: white;
  overflow: hidden;
  font-size: 16px;
}

.input {
  background-color: #EDEDED;
  border-color: #EDEDED;
  box-shadow: none;
  outline: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $primary;
  }
}
